<template>
<v-container
  
>
  <v-row no-gutters justify="space-around" v-if="swish.section === 'paying'">
    <v-col align="center" sm="12" class="header-slot">
      <v-chip
        class="px-8 ma-6"
        color="green"
        text-color="white"
        v-if="!$store.state.app_logic.loading"
        >
        <span v-if="!swish.status" class="text-h6">{{ totalPrice }} kr.</span>
        <span v-else class="text-h6">Scanna QR-koden för kvitto</span>
      </v-chip>
      <v-spacer v-else class="ma-6 px-8 header-slot-spacer"></v-spacer>
    </v-col>
    <v-col align="center" cols="12">
    <v-img 
      :lazy-src="lazy_src" 
      :src="swish.qr_url" 
      width="300"
      max-width="300"
      :class="{qr_loading: $store.state.app_logic.loading}"
      class="mx-auto"
      >
      
        <template v-if="$store.state.app_logic.loading">
        <v-row
          class="fill-height ma-0 noblur"
          align="center"
          justify="center"
        >
          <v-progress-circular
            indeterminate
            size="56"
            color="#000"
            class="noblur"
          ></v-progress-circular>
        </v-row>
        </template>
        <template v-else-if="testMode && !swish.status">
          <v-row
            class="fill-height ma-auto noblur"
            align="center"
            justify="center"
          >
          <v-col
            class="ma-auto testmode justify-center green"
            >
            Testläge: Tryck på knapparna nedan för att simulera betalning
          </v-col>
          </v-row>
        </template>
      </v-img>
    </v-col>
    <v-col 
      sm="12"
      align="center"
      >
      <v-card
    class="mx-auto mt-2"
    max-width="400"
    color="#FAFAFA"
    rounded="lg"
    outlined
  >
    <v-list-item
      v-for="(article, index) in getCompiledCart"
      :key="index"
    >
      <v-list-item-content>
        <v-list-item-title>{{ article.quantity }}x {{ article.Description }} á {{ article.gross_price }}.-</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
      </v-card>
      <v-btn v-if="!swish.status && testMode && show_simulate_btns" x-small @click="simulateCallback(false)" :disabled="!swish.qr_url">Simulera köp</v-btn>
      <v-btn v-if="!swish.status && testMode && show_simulate_btns" x-small @click="simulateCallback(true)" :disabled="!swish.qr_url">Simulera fel</v-btn>
      <v-btn
      class="ma-6 px-8"
      color="green"
      rounded
      @click="backFromCart"
      text-color="white"
      v-if="swish.status && !$store.state.app_logic.loading"
    >
    Tillbaka
      </v-btn>
    </v-col>
  </v-row>
  <v-row no-gutters justify="space-around" v-else-if="swish.section === 'error'" >
    <v-col align="center" sm="12">
      <h2>{{ swish.error_message }}</h2>
      <v-btn
      class="ma-6 px-8"
      color="red"
      rounded
      @click="backFromCart"
      text-color="white"
    >
    Tillbaka
      </v-btn>
    </v-col>
  </v-row>

</v-container>
</template>

<script>
// import firebase from 'firebase'
import { mapState, mapGetters } from 'vuex'
import { mapFields, mapMultiRowFields } from 'vuex-map-fields'

import axios from 'axios'

  export default {
    components: {
      
    },
    data: () => ({
      lazy_src: require('@/assets/swish_qr_lazy.jpg'),
      show_simulate_btns: true,
    }),
    computed: {
    // ...mapState(['user', 'userProfile', 'cart', 'swish']),
    ...mapState({
      user: state => state.user.user,
      userProfile: state => state.user.userProfile,
      cart: state => state.transaction.cart,
      swish: state => state.transaction.swish,
    }),
    ...mapGetters('transaction', ['getArticle', 'getCompiledCart']),
    ...mapFields('user', [
        'userProfile.fortnox_data.articles',
    ]),
    ...mapMultiRowFields(['user.userProfile.fortnox_data.articles', 'transaction.cart']),
    totalPrice() {
      return this.$store.state.transaction.cart.map(item => item.gross_price).reduce((item, num) => {return num + item}, 0)
    },
    testMode() {
      return this.userProfile.fortnox_data.api_key === process.env.VUE_APP_TESTMODE_FORTNOX_KEY
    }
  },
    methods: {
      backFromCart(){
        this.$router.push('/dashboard')
      },
      simulateCallback(simulateError){
        this.show_simulate_btns = false
        this.$store.commit('app_logic/setLoading', true)
        axios({
            method: 'POST',
            url: `${process.env.VUE_APP_SERVER_URL}callBack`,
            data: {
             id: this.$store.state.transaction.swish.payment_id,
             payerAlias: '46464646464',
             status: simulateError ? 'ERROR' : 'PAID',
             errorCode: simulateError ? 'BANKIDCL' : null,
             errorMessage: simulateError ? 'Användaren avbröt' : null,
            }
           })
      }
    },
    mounted(){
      this.dev = process.env.NODE_ENV === 'development';
     this.$store.dispatch('transaction/sendPaymentRequest')
      .then(() => this.$store.dispatch('transaction/listenForCallback'))
      .catch(() => this.$router.push('/dashboard'))
    },
    beforeDestroy(){
      this.$store.commit('transaction/resetSwish')
    }
  }
</script>

<style lang="scss">
.qr_loading {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.header-slot {
  min-height: 80px;
  width: 100%;
  &-spacer {
    min-height: 32px;
  }
}

.testmode {
  width: 90%;
  border-radius: 15px;
  opacity: 0.95;
  color: #fff;
}
</style>
