<template>
<div>
  <v-container fluid v-if="userProfile.fortnox_data.articles">
    <v-row dense>
      <v-col
        v-for="article in articles.filter((a) => a.swook_data.included)"
        :key="article.Description"
        cols="6"
        md="3"
        lg="2"
        >
        <ArticleCard
          :article="article"
          :amount="cart.filter(a => a.ArticleNumber === article.ArticleNumber).length"
          v-bind:key="article.ArticleNumber"

          />
      </v-col>
    </v-row>
  </v-container>
  <v-container fluid v-else-if="app_logic.loading">
    <v-row dense>
      <v-col
        v-for="article in [1,2,3]"
        :key="article"
        cols="6"
        md="3"
        lg="2"
        >
        <ArticleCard
          :loading="true"
          v-bind:key="article"
          />
      </v-col>
    </v-row>
  </v-container>
</div>
</template>

<script>
import { mapState } from 'vuex'
import { mapFields, mapMultiRowFields } from 'vuex-map-fields'

import ArticleCard from '@/components/ArticleCard.vue'

  export default {
    components: {
      ArticleCard,
    },
    data: () => ({
    }),
    computed: {
    // ...mapState(['user', 'userProfile', 'cart']),
    ...mapState({
      userProfile: state => state.user.userProfile,
      user: state => state.user.user,
      cart: state => state.transaction.cart,
      app_logic: state => state.app_logic,
    }),
    ...mapFields('user', ['userProfile.fortnox_data.articles']),
    ...mapMultiRowFields(['user.userProfile.fortnox_data.articles', 'transaction.cart']),
    // ...mapMultiRowFields('transaction', ['cart']),
  },
    methods: {
    },
  }
</script>
