<template>
<div class="invoice_wrapper mt-4">
  <template v-if="!url">
        <v-row
          class="fill-height ma-0 noblur"
          align="center"
          justify="center"
        >
          <v-progress-circular
            indeterminate
            size="56"
            color="#000"
            class="noblur"
          ></v-progress-circular>
        </v-row>
  </template>
  <iframe
    v-else-if="url !== 'error'"
    :src="url"
    class="invoice_wrapper invoice_wrapper-frame"
    ></iframe>
    <template v-else>
        <v-row
          class="fill-height ma-0 noblur"
          align="center"
          justify="center"
        >
          <v-col
            class="ma-auto chip justify-center green"
            >
            Din faktura är ännu inte färdig. Ladda om sidan om en liten stund. 
          </v-col>
        </v-row>
  </template>
    </div>
</template>

<script>
import { mapState } from 'vuex'
  export default {
    computed:{
      ...mapState({
        url: state => state.invoice.url,
      })
    },
    mounted(){
      this.$store.commit('invoice/setToken', this.$route.params.id)
      this.$store.dispatch('invoice/getInvoice')
    }
  }
</script>

<style lang="scss" scoped>
.invoice_wrapper {
  width: 90vw;
  height: 90vh;
  border: none;
  margin:auto;
  border-radius: 10px;
  margin-bottom: 12px;
  &-frame {
    overflow: scroll;
  }
}

.chip {
  width: 90%;
  border-radius: 15px;
  opacity: 0.95;
  color: #fff;
}
</style>
