<template>
<div>
<section>
        <v-parallax :src="landing" height="500">
          <v-col
            cols="12"
            align="center"
            justify="center"
            class="white--text mt-12"
          >
            <v-container
              class="header-container py-4 mt-12"
              > 
            <!-- <img :src="logo" style="width: 400px; max-width: 80vw"> -->
              <h1 class="white--text mb-2 display-1 text-xs-center">Fimpa Kassaregistret!</h1>
              <div class="subheading mb-3 text-xs-center">Det perfekta alternativet för torghandlare, föreningar och småföretag.</div>
              <v-btn
                class="lighten-2 mt-5"
                dark
                large
                :to="{name: 'signup'}"
                style="color:#f6e700; border: 1px solid #f6e700"
              >
                Testa på 30 sekunder
              </v-btn>
            </v-container>
          </v-col>
        </v-parallax>
      </section>

      <section>
        <v-col
          cols="12"
          class="my-5"
          align="center"
        >
            <div class="text-xs-center">
              <h2 class="headline">Inga mer kassaregister eller kvitton!</h2>
              <span class="subheading">
                Koppla med Fortnox och ta betalt med Swish 
              </span>
            </div>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-row align-top>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">mdi-numeric-1-circle</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Koppla med Fortnox</div>
                    </v-card-title>
                    <v-card-text>
                      Koppla enkelt med ditt Fortnox, ladda in ditt artikelregister och kom igång direkt!
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">mdi-numeric-2-circle</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Swish & Swook</div>
                    </v-card-title>
                    <v-card-text>
                      Dina kunder betalar med Swish genom Swook, enkelt som den enklaste kassa! Du kan använda 
                      ditt eget Swish-nummer* eller Swooks!
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">mdi-numeric-3-circle</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Bokfört och klart</div>
                    </v-card-title>
                    <v-card-text>
                      Swook skapar och bokför automatiskt en kontantfaktura på köpet i Fortnox, som din kund får digitalt. 
                      Om du erbjuder kontantfaktura är du undantagen kravet på kassaregister. 
                      
                      
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-row>
            </v-container>
          </v-flex>
        </v-col>
      </section>

      <section>
        <v-parallax :src="section" height="100%" style="min-height: 380px;" class="py-6">          
            <v-col cols="12" align="center" justify="center" class="mt-12">
              <h1 class="headline white--text mb-3 text-xs-center">Kom igång i testläge direkt</h1>

              <p>Skapa ett konto och testa i demoläge</p>

              <v-btn
                class="lighten-2 mt-5"
                dark
                large
                :to="{name: 'signup'}"
                style="color:#f6e700; border: 1px solid #f6e700"
              >
                Testa på 30 sekunder
              </v-btn>
            </v-col>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-row justify="center" class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Vad kostar det?</div>
                </v-card-title>
                <v-card-text align="center">
                  Swook kostar 1.- per köp (plus Swish-avgifter). Om du använder ditt eget Swish-nummer 
                  behöver du "Swish för handlare", om du använder Swooks kan du köra igång direkt efter att 
                  du kopplat Fortnox. Swooks Swish kostar 2.- per transaktion. Använder du Swooks Swish betalas 
                  pengar till ditt konto varje fredag (och hålls på vårt klientmedelskonto tills dess)!
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Kontakta oss</div>
                </v-card-title>
                <v-card-text align="center">
                  Salesfly Technology AB<br>
                  Org. nr. 559252-2162<br>

                </v-card-text>
                <v-list class="transparent">
                  <!-- <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>777-867-5309</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile> -->
                    <!-- <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>Chicago, US</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>john@vuetifyjs.com</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile> -->
                </v-list>
              </v-card>
            </v-flex>
          </v-row>
        </v-container>
      </section>
</div>
</template>

<script>

  export default {
    data() {
      return {
      landing: require('@/assets/landing-1.jpg'),
      logo: require('@/assets/logo-lg.png'),
      section: require('@/assets/section.jpg'),
      }
    }
  }
</script>

<style lang="scss">
.swook-yellow {
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // -webkit-text-stroke: 1px black;
  color: #f6e700;
  // background: rgba(0,0,0, .3);
  // border-radius: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
}

.header-container {
  background-color: rgba(0,0,0, 0.5);
  border-radius: 10%
}
</style>