<template>
<div>
  <FormCard
    title="Din Profil"
    @submit="onUpdateProfile"
    submit-button-text="Spara"
    :submit-disabled="!!(modified.indexOf('profile') === -1)"
    :collapsed='false'
    >
    <InputField
      label="Förnamn"
      v-model="first_name"
      :rules="[() => !!first_name || 'Måste anges']"
      />
    <InputField
      label="Efternamn"
      v-model="last_name"
      :rules="[() => !!last_name || 'Måste anges']"
      />
    <InputField
      label="Företagsnamn"
      v-model="company_name"
      :rules="[() => !!company_name || 'Måste anges']"
      />
    <InputField
      label="Ditt mobilnummer"
      placeholder="0703-028153"
      v-model="phone" 
      @validated="formatted_phone_number = $event"
      :rules="[() => !!formatted_phone_number || 'Måste anges']"
      type="phone"
      ></InputField>
  </FormCard>
  <FormCard
    title="Fortnox-inställningar"
    :collapsed='false'
    @submit="onAuthorizeFortnox" 
    submit-button-text="Koppla Fortnox"
    :submit-hidden="!!userProfile.fortnox_data.access_token"
    >
      <InputField
        label="API-nyckel"
        v-model="api_key"
        :readonly="!!userProfile.fortnox_data.access_token"
        :messages="!!userProfile.fortnox_data.access_token ? 'Kan inte ändras när Fortnox är kopplat!' : ''"
        :rules="[() => (!!api_key && api_key.length === 36) || 'Exempel: 33748c26-b205-4f01-7e6a-52bfa5f9dd48']"
        :append-icon="!!userProfile.fortnox_data.access_token ? 'mdi-delete-forever' : '' "
        @click:append="confirm_api_removal = true"
        />
    <Modal 
    v-if="confirm_api_removal" 
    title="Bekräfta frånkoppling"
    description="Om du kopplar bort Fortnox slutar Swook att fungera."
    :buttons="[{text: 'Koppla bort', action: 'agree'}, {text: 'Backa', action: 'dismiss'}]"
    @close="closeConfirmModal"
  />
    <v-btn 
      color="green" 
      @click="onUpdateArticles" 
      v-if="!!userProfile.fortnox_data.access_token" 
      :loading="loading_articles" 
      x-small
      >
      Synka artiklar
    </v-btn>
    <template v-if="userProfile.fortnox_data.articles">
      <ArticleRow
        v-for="article in articles"
        :article="article"
        v-model="article.swook_data"
        v-bind:key="article.ArticleNumber"
        @input="onUpdateFortnox"
        />
    </template>
  </FormCard>
  <!-- <FormCard
    title="Swish-inställningar"
    :collapsed='false'
    :submit-disabled="!!(modified.indexOf('swish') === -1)"
    @submit="onAuthorizeSwish" 
    submit-button-text="Spara"
    >
      <InputField
        label="Swish-nummer"
        v-model="payeeAlias"
        :rules="[() => (!$v.$invalid && payeeAlias.length === 10)|| '10 siffror, exempel 1231181189']"
        @input="$v.payeeAlias.$touch()"
        @blur="$v.payeeAlias.$touch()"
        />
  </FormCard> -->
  <FormCard
    title="Bank"
    :collapsed='false'
    :submit-disabled="!!(modified.indexOf('bank') === -1)"
    @submit="onUpdateBank" 
    submit-button-text="Spara"
    >
    <InputField
          label="Clearingnummer"
          v-model="clearing_number"
          :rules="[() => (!$v.clearing_number.$invalid && (clearing_number.length === 4 || clearing_number.length === 5))|| '4-5 siffror, exempel 8105']"
          @input="$v.clearing_number.$touch()"
          @blur="$v.clearing_number.$touch()"
          />
    <InputField
        label="Kontonummer"
        v-model="account_number"
        :rules="[() => (!$v.account_number.$invalid && account_number.length > 7)|| 'Enbart siffror']"
        @input="$v.account_number.$touch()"
        @blur="$v.account_number.$touch()"
        />
  </FormCard>

</div>           
</template>
<script>
import { mapState } from 'vuex'
import { mapFields, mapMultiRowFields } from 'vuex-map-fields'
import { validationMixin } from 'vuelidate'
import { required, numeric } from 'vuelidate/lib/validators'

import FormCard from '@/components/FormCard.vue'
import InputField from '@/components/base_components/InputField.vue'
import ArticleRow from '@/components/ArticleRow.vue'
import Modal from '@/components/Modal.vue'

export default {
  components: {
    FormCard,
    InputField,
    ArticleRow,
    Modal,
  },
  mixins: [validationMixin],
  validations: {
    payeeAlias: { required, numeric },
    clearing_number: {required, numeric},
    account_number: {required, numeric},
  },
  data () {
    return {
      loading: true,
      isDisabled: true,
      confirm_api_removal: false,
      loading_articles: false,
    }
  },
  computed: {
    ...mapState({
      user: state => state.user.user,
      userProfile: state => state.user.userProfile,
    }),
    ...mapFields({
      modified: 'user.userProfile.modified',
      first_name: 'user.userProfile.first_name',
      last_name: 'user.userProfile.last_name',
      company_name: 'user.userProfile.company_name',
      phone: 'user.userProfile.phone',
      formatted_phone_number: 'user.userProfile.formatted_phone_number',
      api_key: 'user.userProfile.fortnox_data.api_key',
      articles: 'user.userProfile.fortnox_data.articles',
      payeeAlias: 'user.userProfile.swish_data.payeeAlias',
      clearing_number: 'user.userProfile.clearing_number',
      account_number: 'user.userProfile.account_number',
    }),
    ...mapMultiRowFields(['user.userProfile.fortnox_data.articles'])
  },
  mounted: function() {
    this.loading = false;  
  },
  methods: {
    closeConfirmModal (action) {
      this.confirm_api_removal = false;
      if(action === 'agree'){
        this.$store.dispatch('user/revokeFortnox', {
        id: this.user.uid,
        fortnox_data: this.userProfile.fortnox_data
      }); 
      }
    },
    onUpdateProfile () {
      this.$store.dispatch('user/updateUserData', {
        id: this.user.uid,
        first_name: this.userProfile.first_name,
        last_name: this.userProfile.last_name,
        company_name: this.userProfile.company_name,
        phone: this.userProfile.phone,
        formatted_phone_number: this.userProfile.formatted_phone_number,
        updated_at: new Date().toISOString(),
      }, 'profile')
    },
    onUpdateFortnox() {
      // bara om fortnox inte är auth
        this.$store.dispatch('user/updateUserData', {
          fortnox_data: this.userProfile.fortnox_data
        }, 'fortnox')
    },
    onAuthorizeFortnox() {
      this.loading_articles = true
      this.$store.dispatch('user/authorizeFortnox', {
        id: this.user.uid,
        fortnox_data: this.userProfile.fortnox_data
      })
    },
    onAuthorizeSwish() {
        this.$store.dispatch('user/updateUserData', {
          swish_data: this.userProfile.swish_data
        }, 'swish')
    },
    onUpdateBank() {
        this.$store.dispatch('user/updateUserData', {
          clearing_number: this.clearing_number,
          account_number: this.account_number,
        }, 'bank')
    },
    onUpdateArticles () {
      this.loading_articles = true
      this.$store.dispatch('user/updateArticlesFromFortnox', {
        id: this.user.uid,
      })
      .then(() => this.loading_articles = false)
      .catch(() => this.loading_articles = false)
    },
  }
}
</script>
