<template>
  <div>
    <template v-if="!password_reset">
      <FormCard
        title="Logga in"
        @submit="onSignin"
        submit-button-text="Logga in"
        >
        <InputField
          label="E-mail"
          v-model="email"
          :rules="[() => !$v.email.$invalid || 'Måste vara en giltig email-adress']"
          required
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
          />
        <InputField
          label="Lösenord"
          v-model="password"
          type="password"
          required
          :rules="[() => password.length > 6 || 'Minst 6 tecken']"
          />
      </FormCard>
      <v-container fluid class="mx-auto">
      <v-row align="center">
        <v-col cols="12" md="8" align="center">
          <span class="text--secondary">Eller</span>
        </v-col>
        <v-col cols="12" md="8" align="center">
          <img 
            :src="google_btn_image"
            @click="requestOauth('google')"
            >
        </v-col>
        <v-col cols="12" md="8" align="center">
        <img
          :src="fb_btn_image"
          @click="requestOauth('facebook')"
          >
        </v-col>
        <v-col cols="12" md="8" align="center">
          <v-btn
            x-small
            @click="password_reset = true">
            Återställ Lösenord
          </v-btn>
        </v-col>
      </v-row>
      </v-container>
    </template>
    <template v-else>
      <FormCard
        title="Återställ lösenord"
        @submit="onResetPassword"
        submit-button-text="Skicka återställningsmail"
        >
        <InputField
          label="E-mail"
          v-model="reset_email"
          :rules="[() => !$v.reset_email.$invalid || 'Måste vara en giltig email-adress']"
          required
          @input="$v.reset_email.$touch()"
          @blur="$v.reset_email.$touch()"
          />
      </FormCard>
      <v-container>
        <v-row>
          <v-col sm="12" md="8" class="px-6">
            <v-btn
              x-small
              
              @click="password_reset = false">
              Tillbaka
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </template>
  </div>

</template>
<script>
import {mapGetters} from 'vuex'
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

import FormCard from '@/components/FormCard.vue'
import InputField from '@/components/base_components/InputField.vue'

export default {
  components: {
    FormCard,
    InputField,
  },
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    reset_email: { required, email },
  },
  computed: {
    ...mapGetters('user', ['user']),
    nextRoute () {
      // TODO: Settings not done, send user to Profile
      return this.$route.query.redirect || '/dashboard'
    },
    validatePassword () {
      return this.password.length > 5
    },
  },
  data () {
    return {
      email: '',
      reset_email: '',
      password: '',
      google_btn_image: require('@/assets/google_btn.png'),
      fb_btn_image: require('@/assets/fb_btn.png'),
      auth: null,
      password_reset: false,
    }
  },
  methods: {
    onSignin () {
      this.$auth.login(this.email, this.password)
        .then(auth => {if(auth) this.$router.replace(this.nextRoute)})
        .catch(e => {
          this.$store.commit('app_logic/setSnackBar', e.message)
        })
    },
    onResetPassword () {
      this.$store.dispatch('user/sendPasswordResetMail', { email: this.reset_email }).then(res => {
        if(res === 'success') this.password_reset = false
      })
    },
    requestOauth (provider) {
      this.$auth.signInWithOauth(provider)
        .then(auth => {if(auth) this.$router.replace(this.nextRoute)})
        .catch(e => {
          this.$store.commit('app_logic/setSnackBar', e.message)
        })
    },
  }
}
</script>

