<template>
  <div>
    <FormCard
      title="Kom igång"
      @submit="onSignup"
      submit-button-text="Kom igång"
      >
      <InputField
        label="E-mail"
        v-model="email"
        :rules="[() => !$v.email.$invalid || 'Måste vara en giltig email-adress']"
        required
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
        />
      <InputField
        label="Lösenord"
        v-model="password"
        type="password"
        required
        :rules="[() => password.length > 6 || 'Minst 6 tecken']"
        />
    </FormCard>
    <v-container fluid class="mx-auto">
      <v-row align="center">
        <v-col cols="12" md="8" align="center">
          <span class="text--secondary">Eller</span>
        </v-col>
        <v-col cols="12" md="8" align="center">
          <img 
            :src="google_btn_image"
            @click="requestOauth('google')"
            >
        </v-col>
        <v-col cols="12" md="8" align="center">
        <img
          :src="fb_btn_image"
          @click="requestOauth('facebook')"
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'

import FormCard from '@/components/FormCard.vue'
import InputField from '@/components/base_components/InputField.vue'
export default {
  components: {
    FormCard,
    InputField,
  },
  mixins: [validationMixin],
  validations: {
    email: { required, email },
  },
  data () {
    return {
      email: '',
      password: '',
      google_btn_image: require('@/assets/google_btn.png'),
      fb_btn_image: require('@/assets/fb_btn.png')
    }
  },
  computed: {
    validatePassword () {
      return this.password.length > 5
    },
  },
  methods: {
    onSignup () {
       this.$store.dispatch('user/signUserUp', {email: this.email, password: this.password})
    },
    requestOauth (provider) {
      this.$auth.signInWithOauth(provider)
        .then(auth => {
          if(auth) this.$router.replace('/dashboard')
          })
        .catch(e => {
          this.$store.commit('app_logic/setSnackBar', e.message)
        })
    },
  },
}
</script>
