<template>
<v-container class="wrapper">
    <v-row
      class="wrapper wrapper-row"
    >
      <v-col 
        sm="6"
        align-self="center"
        class="wrapper wrapper-col"
        >
        {{ article.Description }}
      </v-col>
      <v-col
       align-self="center"
       sm="3"
       class="wrapper wrapper-col"
       >
        {{ article.gross_price }}.-
      </v-col>
      <v-col 
        align-self="center"
        sm="3"
        class="wrapper wrapper-col"
        >
        <v-switch 
          :input-value="article.swook_data.included" 
          @change="$emit('input', {included: $event})"
          class="my-0"
          >
        </v-switch>
      </v-col>
    </v-row>
</v-container>
</template>
<script>
// import { mapFields } from 'vuex-map-fields'

export default {
  props: {
    article: {
      type: Object,
    },
  },
  data () {
    return {
    }
  },
  // computed: {
  //   ...mapFields([
  //     'userProfile.fortnox_data.articles[0].swook_data.included'
  //   ])
  // }
}
</script>

<style lang="scss" scoped>
::v-deep .wrapper {
  // max-height: 48px;
  &-row{
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  }
  &-col {
    max-height: 48px;
    white-space: nowrap;
    overflow: scroll;
  }
}

</style>