<template>
<div>
  <template v-if="!loading">
    <v-card
      elevation="2"
      @click="onAddArticle"
      >
      <v-card-title>
          {{ article.Description }}
      </v-card-title>
      <v-card-subtitle>
          {{ article.gross_price }}.-
      </v-card-subtitle>
      <article-badge
        :content="amount"
        v-show="!!amount"
        @click="onRemoveArticle"
        />
    </v-card>
  </template>
  <template v-else>
    <v-skeleton-loader
      class="mx-auto"
      type="card-heading, paragraph"
      max-height="126"
      max-width="90%"
    ></v-skeleton-loader>
  </template>
</div>
</template>
<script>
import ArticleBadge from '@/components/base_components/ArticleBadge.vue'

export default {
  components: {
    ArticleBadge
  },
  props: {
    article: {
      type: Object,
    },
    amount: {
      type: Number,
      required: false,
      default: 0,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    }
  },
  data () {
    return {
      
    }
  },
  methods: {
      onAddArticle () {
        this.$store.dispatch('transaction/updateCart',  {article_number: this.article.ArticleNumber, add: 1 })
      },
      onRemoveArticle() {
        this.$store.dispatch('transaction/updateCart',  {article_number: this.article.ArticleNumber, add: -1 })
      }
  }
}
</script>

