<template>
  <v-footer
    v-if="$store.state.transaction.cart.length && !!$store.state.user.user"
    app
    class="font-weight-medium"
  >
    <v-col
      class="text-center"
      cols="12"
    >
    <v-btn
      v-if="$route.name === 'cart'"
      color="red"
      :to="{name: 'dashboard'}"
      dark
      rounded
      large
      >
      <v-icon color="white">mdi-close</v-icon>
    </v-btn>
    <v-btn 
      v-else
      color="green"
      :to="{name: 'cart'}"
      dark
      rounded
      large
      >
      {{ totalPrice }}.- 
      <v-spacer class="mx-1"></v-spacer>
      <v-icon color="white">mdi-cart</v-icon>
    </v-btn>
    </v-col>
  </v-footer>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data: () => ({

  }),
  computed: {
    // ...mapState['cart', 'user'],
    ...mapState({
      cart: state => state.transaction.cart,
      user: state => state.user.user,
    }),
    totalPrice() {
      return this.$store.state.transaction.cart.map(item => item.gross_price).reduce((item, num) => {return num + item})
    },
  },
  mounted(){

  },
  methods: {
  }
}
</script>