<template>
<v-container
  @click.stop="$emit('click')"
>
    <v-row>
      <v-col sm="12">
        <h3 v-if="!!title"> {{ title }} </h3>
          <v-container
            v-if="!collapsed"
          >
            <v-row>
              <v-col cols="12"> 
                <!-- sm="12" md="8" -->
                <v-form 
                  :ref="reference"
                  @submit.prevent="() => $refs.form.validate() ? $emit('submit') : false"
                  >
                  <slot></slot>
                  <v-btn
                    class="green"
                    type="submit"
                    :disabled="submitDisabled"
                    v-if="!submitHidden"
                    >
                    {{ submitButtonText }}
                  </v-btn>
                </v-form>
              </v-col>
            </v-row>
          </v-container>
      </v-col>
    </v-row>
</v-container>
</template>
<script>
export default {
  props: {
    reference: {
      type: String, 
      required: false,
      default: 'form'
    }, 
    submitHidden: {
      type: Boolean, 
      required: false,
      default: false,
    },
    title: String,
    collapsed: {
      type: Boolean,
      default: false,
    },
    submitButtonText: String,
    submitDisabled: {
      type: Boolean, 
      required: false,
      default: false
    }
  },
  data () {
    return {
      
    }
  },
}
</script>