<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ title }}</v-card-title>
        <v-card-text>{{ description }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn 
            v-for="(btn, index) in buttons"
            v-bind:key="index"
            color="green darken-1"
            @click="$emit('close', btn.action)"
            text
            >{{ btn.text }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

export default {
  props: {
    title: {
      required: false,
      type: String, 
      default: ''
    },
    description: {
      required: false, 
      type: String,
      default: ''
    },
    buttons: {
      required: true,
      type: Array,
      default: () => [{text: 'Ok', action: 'ok'}]
    }
  },
  data () {
    return {
      dialog: true
    }
  },
}
</script>