<template>
    <v-snackbar
      v-model="$store.state.app_logic.snackBar.display"
      :timeout="6000"
    >
      {{ $store.state.app_logic.snackBar.text.text ||  $store.state.app_logic.snackBar.text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="clickHandler"
        >
          {{ $store.state.app_logic.snackBar.text.button || 'Stäng' }}
        </v-btn>
      </template>
    </v-snackbar>
</template>

<script>
// import { mapState } from 'vuex'
// import { mapFields } from 'vuex-map-fields'

export default {
    data: () => ({
    // snackbar: true,
    // text: 'Hello, I\'m a snackbar',
  }),
  // computed: {
  //   ...mapState['snackBar'],
  //   ...mapFields['snackBar.display', 'snackBar.text']
  // },
  methods: {
    clickHandler(){
      if(this.$store.state.app_logic.snackBar.text.action) this.$store.state.app_logic.snackBar.text.action()
      this.$store.state.app_logic.snackBar.display = false
    }
  }
}
</script>