<template>
<v-speed-dial
      v-if="this.$route.name !== 'dashboard' && this.$route.name !== 'cart'"
      class="chatdialog"
      bottom
      right
      fixed
      direction="top"
      v-model="show_dialog"
      :open-on-hover="false"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn
          v-model="show_dialog"
          class="chatdialog-btn"
          color="blue darken-2"
          dark
          absolute
          fab
        >
          <v-icon v-if="show_dialog">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-message-text
          </v-icon>
        </v-btn>
      </template>
      <!-- <v-container
        class="pa-4 ma-4 menu-container"
        color="white"
      >
        <v-col cols="12"> -->
          <div class="menu-container">
          <FormCard
            title="Support"
            v-if="!sent_message"
            :collapsed='false'
            :submit-disabled="false"
            @submit="onSendMessage" 
            submit-button-text="Skicka"
        
            >
          <v-textarea 
            outlined
            width="250"
            label="Meddelande"
            v-model="message"
            :rules="[() => message.length > 4 || '']"
            ></v-textarea>
          <InputField
            label="E-mail"
            v-if="!userProfile.email"
            v-model="email"
            :rules="[() => !$v.email.$invalid || 'Måste vara en giltig email-adress']"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            />
          </FormCard>
          <v-container v-else class="">
            <v-col cols="12">
              <h1>Tack för ditt meddelande</h1>
              <p>Vi hör av oss så fort vi kan!</p>
            </v-col>
          </v-container>
          </div>
        <!-- </v-col>
      </v-container> -->
    </v-speed-dial>
</template>

<script>
import FormCard from '@/components/FormCard.vue'
import InputField from '@/components/base_components/InputField.vue'

import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import { mapState } from 'vuex'


export default {
  components:  {
    FormCard,
    InputField,
  },
  computed: {
    ...mapState({
      userProfile: state => state.user.userProfile,
    }),
  },
  mixins: [validationMixin],
  validations: {
    email: { required, email },
  },
  props: {
    
  },
  data () {
    return {
      email: '',
      show_dialog: false,
      message: '',
      sent_message: false,
    }
  },
  methods: {
    onSendMessage(){
      this.$store.dispatch('app_logic/sendSupportMessage', {message: this.message, email: this.userProfile.email || this.email})
      this.sent_message = true;
      setTimeout(() => {
        this.show_dialog = false; 
        this.sent_message = false;
        this.message = '';
        this.email = '';
        }, 2000)
    },
  }
}
</script>

<style lang="scss">
.chatdialog {
  width:300px;
  align-self: right;
}

.chatdialog-btn {
  right: 0px;
  bottom: 0px;
}

.menu-container {
  border-radius: 10px;
  border: 1px solid #1976d2;
  background-color: #fff;
  height: 400px;
  width: 300px;
  margin: 12px 12px;
  // left: 400px;
}

</style>