<template>
   <v-app-bar 
    dense 
    fixed
    >
    <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
    <v-toolbar-title class="">
      <v-btn
        text
        color="#fff"
        class="ml-0 pl-0"
        :to="{name: !user ? 'landing' : 'dashboard'}"
        >
        <img :src="logo" style="height:35px; margin: 0px 5px">
      </v-btn>
    </v-toolbar-title>
<!-- TODO: BELOW HREF-THING IS HORRIBLY HORRIBLY BAD PRACTICE BUT IT WORKS -->
    <template v-if="!user">
      <!-- <v-toolbar-items class="hidden-sm-and-down">
        <v-btn 
          text
          href="../#why-swook"
          class="text-capitalize">
            Varför Swook?
        </v-btn>
        <v-btn 
          text
          href="../#how-it-works"
          class="text-capitalize">
            Hur funkar det?
        </v-btn>
        <v-btn 
          text
          href="../#about"
          class="text-capitalize">
            Om oss
        </v-btn>
      </v-toolbar-items> -->
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          text
          :to="{name: 'signin'}"
        >
          Logga in
        </v-btn>
        <v-btn
          text
          color="white"
          class="red font-weight-bold v-btn--large"
          :to="{name: 'signup'}"
        >
          Kom igång
        </v-btn>
      </v-toolbar-items>
    </template>
    <template v-else>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
        <template v-slot:activator="{ on }">
          <v-btn class="hidden-sm-and-down" v-on="on">
            <v-icon>mdi-account</v-icon>&nbsp;
            {{ user && user.email }}    
          </v-btn>
          <v-btn class="hidden-md-and-up fix-right" icon v-on="on">
            <v-icon>mdi-account-circle</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            :to="{name: 'profile'}"
            >
              <v-list-item-title>
                Inställningar
              </v-list-item-title>
          </v-list-item>
          <v-list-item
          @click="signOut"
          >
              <v-list-item-title>
                Logga ut
              </v-list-item-title>
          </v-list-item>
        </v-list>
          
      </v-menu>
      <!-- <v-btn
        text
        :to="{name: 'profile'}"
      >
        <span class="mr-2">{{ user && user.email }}</span>
      </v-btn>
      <v-btn
        text
        :to="{name: 'signout'}"
      >
        <span class="mr-2">Sign out</span>
      </v-btn> -->
    </template>
   </v-app-bar>
</template>

<script>
import {mapState} from 'vuex'
  export default {
    data() {
      return {logo: require('@/assets/logo.png')}
  },
    computed: {
    // ...mapState(['user'])
    ...mapState({
      user: state => state.user.user,
    })
  },
  methods: {
    async signOut () {
    await this.$auth.logout()
    this.$router.replace('/')
    this.$store.dispatch('user/signUserOut')
    }
  }
  }
</script>

<style lang="scss" scoped>

</style>
