<template>
  <transition
    name="zoom"
    mode="in-out"
    enter-active-class="zoom-enter-active"
    leave-active-class="zoom-leave-active"
  >
  <div>
    <div class="badge badge-amount green">
      {{ content }}
    </div>
    <div class="badge badge-remove red" @click.stop="$emit('click')">
      <v-icon
      color="white"
      size="12px"
      >
      mdi-minus
      </v-icon>
    </div>
    </div>
  </transition>
</template>
<script>

export default {
  props: {
    content: {
      type: Number,
      default: 0,
      required: false,
    }
  },
  data () {
    return {

    }
  },

}
</script>

<style lang="scss" scoped>
 ::v-deep .badge {
   position: absolute;
   width: 20px;
   height: 20px;
   color: #fff;
   border-radius: 10px !important;
   font-size: 12px;
   padding: 0px;
   text-align: center;
   white-space: nowrap;
   margin: 0;
   z-index: 10;
   &-amount {
    // background-color: #4caf50;
    left: calc(100% - 10px);
    top: calc(100% - 13px);
   }
   &-remove {
    // background-color: red;
    left: calc(100% - 33px);
    top: calc(100% - 13px);
    cursor: pointer;
   }
 }

  ::v-deep .zoom-enter {
    opacity: 0
  }

  ::v-deep .zoom-enter-active,
  .zoom-leave-active {
  animation-duration: 0.2s; 
  animation-fill-mode: both;
  animation-name: zoom;
  }

  ::v-deep .zoom-leave-active {
  animation-direction: reverse;
  }

  @keyframes zoom {
  from {
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
  opacity: 1;
  }
  }

</style>