<template>
<v-app>
  <Toolbar class="toolbar" /> 
  <v-main class="mt-12 main">
    <transition-page>
    <router-view></router-view>
    </transition-page>
  </v-main>
  <SupportDialog />
  <Snackbar />
  <CartFooter />
</v-app>
</template>

<script>
// TODO: Få in logon ????
import Toolbar from '@/components/Toolbar.vue'
import Snackbar from '@/components/Snackbar.vue'
import TransitionPage from '@/components/transitions/TransitionPage.vue'
import CartFooter from '@/components/CartFooter.vue'
import SupportDialog from '@/components/SupportDialog.vue'

export default {
  components: {
    Toolbar,
    Snackbar,
    CartFooter,
    TransitionPage,
    SupportDialog,
  },
  data() {
     return {
     }},
     mounted() {
     }
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  @import 'assets/main.scss';
</style>
